@import "../../index.module.scss";

.todo_inputs_block {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    width: 620px;
    margin-top: 50px;
    font-size: $fs-main; 
    background: #FFFFFF;  
    border-radius: 15px;
    padding: 5px 5px;
}
.title_and_time_block{
    display: flex;
    padding-bottom: 1px;
    background: $bgc-main;
}
.title_input {  
    flex-grow: 1;
    padding: 10px 10px;  
}
.body_input {
    width: 100%;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    min-height: 100px;
}
.date_input {     
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px; 
} 
.body_title { 
    display: flex;  
    &_input { 
        flex-grow: 1;
        padding: 10px 10px;
    }
}
.file_input {  
    margin: 0 auto; 
    margin-top: 15px; 
    border-radius: 5px;
    padding: 5px 5px;
}  
.button { 
    margin: 0 auto;
    margin-top: 10px; 
    border: 1px solid black;
    width: 50%; 
    height: 60px;    
    transition: all 1s ease-in-out;
    border-radius: 15px;
    &:hover {
        cursor: pointer;
        color: white;
        background-color: rgb(29, 81, 166);
        border: 1px solid transparent;
    }
}
.chosen_block {
    width: 100%;
    margin-top: 10px;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    & button { 
        margin: 0 auto;
        width: 150px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 2px 2px;
    }
}
@media screen and (max-width: 700px) {
    .todo_inputs_block {
        width: 90%;  
        font-size: $fs-low-resolution;
    }
    .chosen_block {
        & button { 
            font-size: $fs-low-resolution;
        }
    }
    
}
 